.dropdown {
    position: static;
}

nav{
    position: relative;
}

nav ul .dropdown .sub-menu {
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: all 0.3s;
}


nav ul .dropdown .sub-menu {
    visibility: hidden;
    position: absolute;
    margin: auto;
    z-index: 99;
    transform-origin: top;
    transform: scale(0);
    padding: 16px;
    max-width: 1120px;
}

.dropdown::after,
.dropdown .dropdown::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 18.286' width='16' height='18.286'%3E%3Cpath d='M7.193 13.379a1.146 1.146 0 0 0 1.618 0l5.714-5.714a1.145 1.145 0 0 0-1.618-1.618L8 10.954 3.093 6.05a1.145 1.145 0 0 0-1.618 1.618l5.714 5.714z'/%3E%3C/svg%3E") no-repeat;
  transition: var(--transition);
  background-size: contain;
}

.dropdown::after, .dropdown .dropdown::after {
    content: "";
    display: flex;
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin-top: -4px;
}

 nav .dropdown .sub-menu ul{
    list-style: none;
    padding: 0;
}


.sub-menu .desc {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    color: #8392a2;
}

ul.menu-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px;
}

.menu-area li{
    padding: 10px;
    border-radius: 4px;
}
.menu-area li:hover{
    background-color: #eff3fe;
}

.menu-h{
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
    font-weight: 500;
}

.dropdown > a{
    display: inline-block;
}

@media (min-width: 1025px) {
    .dropdown {
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
    }
    nav ul .dropdown .sub-menu {
        left: 0px;
        top: 105px;
        right: 0;
    }
    nav .dropdown:hover>.sub-menu {
        transform: scaleY(1);
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .dropdown::after, .dropdown .dropdown::after {
        float: right;
        margin-top: 14px;
    }

 nav ul li.showMenu>.sub-menu {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        margin-top:0;
        height: 420px;
        overflow: scroll;
        gap:20px;
    }

    .dropdown {
        position: relative;
    }

}
@media screen and (max-width: 768px) {
    ul.menu-area{
        grid-template-columns: auto;
        row-gap: 10px;
    }
}